<div class="profit-estimate-container">

    <div class="choose-farm-container">
        Διάλεξε το χτήμα:<br>
        <div class="filter-section">
                <label class="custom-checkbox">
                    <input type="checkbox" (change)="showEarly = !showEarly"/>
                    Δείξε τα πρώιμα
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" (change)="showLate = !showLate"/>
                    Δείξε τα όψιμα
                </label>
        </div>
        
        <select class="farm-dropdown" [(ngModel)]="farm">
            <ng-container *ngFor="let f of farms">
                <ng-container *ngIf="(!showEarly && !showLate)||
                                    (showEarly && f.readyForCropping == 'Early') ||
                                    (showLate && f.readyForCropping == 'In Time')">
                    <option [ngValue]="f">{{f.name}}</option>
                </ng-container>
            </ng-container>
        </select>
    </div>
    

</div>
