.admin-style {
    height: fit-content;
    background-color: #fff3cd;
    border-left: 5px solid orange;
    padding: 1rem;
    font-weight: bold;
  }
  
  .first-visit-style {
    height: fit-content;
    background-color: #e0f7fa;
    color: #00796b;
    padding: 1rem;
    border-left: 5px solid teal;
  }
  
  .returning-user-style {
    height: fit-content;
    background-color: #f0f0f0;
    padding: 1rem;
    border-left: 5px solid #aaa;
  }