.app-top-bar-container{
    width: 100%;
    height: 10%;
    display: flex;
    background: linear-gradient(to bottom, #192c19, #198619);
    
    align-items: center;
}

.app-logo-container{
    min-width: 20rem;
    height: 80px;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
}

.left-options-main-page-container{
    display: flex;
    gap: 4%;
}

.app-left-options-list-container{
    width: fit-content;
    height: calc(100vh - 80px);
    border-right: 2px solid #cacaca;
    background-color: white;
}

.app-left-options-list{
    margin-top: 0 !important;
    padding: 0;
}

.app-left-options-list li:first-child {
    margin-top: 0;
    padding-top: 3rem;
}

.app-left-options-list li{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    list-style: none;
}

.selections-page{
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    margin-right: 3%;
    border-right: 2px solid #cacaca;
    border-left: 2px solid #cacaca;
    background-color: white;
    padding: 3rem;
}

.active{
    color: #1aa7bc;
}

.loading-spinner { font-size: 20px; color: blue; }
