<div style="background-color: #f5fff7;">

    <div class="app-top-bar-container">
        <div class="app-logo-container"></div>
    </div>
    <div class="left-options-main-page-container">
        <div class="app-left-options-list-container">
            <ul class="app-left-options-list">
                <li appOptionHoverHighlight routerLink="">Dashboard</li>
                <li appOptionHoverHighlight>Χτήματα</li>
                <li appOptionHoverHighlight routerLink="jobs">Δουλειές</li>
                <li appOptionHoverHighlight routerLink="profitEstimate">Εκτίμηση Κέρδους</li>
            </ul>
        </div>
    
        <div class="selections-page">

            <router-outlet></router-outlet>

        </div>

    </div>

</div>