<div style="background-color: #f5fff7;">

    <div [@fadeIn] class="app-top-bar-container">
        <div class="app-logo-container"></div>
    </div>
    <div class="left-options-main-page-container">
        <div class="app-left-options-list-container">

            <ng-container *ngIf="!jobsMenuOpen">
                <ul [@slideInRight] class="app-left-options-list">
                    <li appOptionHoverHighlight routerLink="">Dashboard</li>
                    <li appOptionHoverHighlight>Χτήματα</li>
                    <li appOptionHoverHighlight (click)="jobsMenuOpen = !jobsMenuOpen">Δουλειές   &gt;</li>
                    <li appOptionHoverHighlight routerLink="profitEstimate">Εκτίμηση Κέρδους</li>
                    <li appOptionHoverHighlight routerLink="practice">Εξάσκηση</li>
                </ul>
            </ng-container>

            <ng-container *ngIf="jobsMenuOpen">
                <ul [@slideInLeft] class="app-left-options-list">
                    <li style="font-weight: bold; cursor: pointer; user-select:none" routerLink="" (click)="backFromJobsMenu()">&lt; Κλείσιμο</li>
                    <li appOptionHoverHighlight routerLink="jobs">Λεπτομέρειες</li>
                    <li appOptionHoverHighlight>Κατηγορίες</li>
                    <li appOptionHoverHighlight >Προσθήκη</li>
                </ul>
            </ng-container>
            
        </div>
    
        <div class="selections-page">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>