<div style="background-color: #f5fff7;">

    <div [@fadeIn] class="app-top-bar-container">
        <div class="app-logo-container"></div>
    </div>
    <div class="left-options-main-page-container">
        <div class="app-left-options-list-container">

            <ng-container *ngIf="urlHasMain()">
                <ul [@slideInRight] class="app-left-options-list">
                    <li appOptionHoverHighlight routerLink="" >Dashboard</li>
                    <li appOptionHoverHighlight routerLink="main/**" routerLinkActive="active">Χτήματα</li>
                    <li appOptionHoverHighlight routerLink="jobs" >Δουλειές   &gt;</li>
                    <li appOptionHoverHighlight routerLink="main/profitEstimate" routerLinkActive="active" aria-current="page">Εκτίμηση Κέρδους</li>
                    <li appOptionHoverHighlight routerLink="main/practice" routerLinkActive="active">Εξάσκηση</li>
                </ul>
            </ng-container>

            <ng-container *ngIf="urlHasJob()">
                <ul [@slideInLeft] class="app-left-options-list">
                    <li appOptionHoverHighlight style="font-weight: bold" routerLink="">&lt; Κλείσιμο</li>
                    <li appOptionHoverHighlight routerLink="jobs/options" routerLinkActive="active">Περιγραφή</li>
                    <li appOptionHoverHighlight  routerLink="**">Κατηγορίες</li>
                    <li appOptionHoverHighlight  routerLink="**">Προσθήκη</li>
                </ul>
            </ng-container>
            
        </div>
    
        <div class="selections-page">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>