<ng-container *ngIf="urlHasMain()">
    <ul [@slideInRight] class="app-left-options-list">
        <li appOptionHoverHighlight routerLink="" >Dashboard</li>
        <li appOptionHoverHighlight routerLink="main/**" routerLinkActive="active">Χτήματα</li>
        <li appOptionHoverHighlight routerLink="jobs" >Δουλειές   &gt;</li>
        <li appOptionHoverHighlight routerLink="financial" aria-current="page">Οικονιμικά</li>
        <li appOptionHoverHighlight routerLink="main/practice" routerLinkActive="active">Εξάσκηση</li>
    </ul>
</ng-container>

<ng-container *ngIf="urlHasJob()">
    <ul [@slideInLeft] class="app-left-options-list">
        <li appOptionHoverHighlight class="bold" routerLink="" >&lt; Κλείσιμο</li>
        <li appOptionHoverHighlight routerLink="jobs/descriptions">Περιγραφή</li>
        <li appOptionHoverHighlight  routerLink="**">Κατηγορίες</li>
        <li appOptionHoverHighlight  routerLink="jobs/addJob">Προσθήκη</li>
    </ul>
</ng-container>

<ng-container *ngIf="urlHasProfitEstimate()">
    <ul [@slideInLeft] class="app-left-options-list">
        <li appOptionHoverHighlight class="bold" routerLink="">&lt; Κλείσιμο</li>
        <li appOptionHoverHighlight routerLink="profitEstimate/descriptions">Περιγραφή</li>
    </ul>
</ng-container>