        <!-- EXAMPLE of Loading data with async pipe -->
<div *ngIf="newFarms|async as farms; else loading">
    <h2>Farm List:</h2>
    <ul>
        <li *ngFor="let farm of farms">
            The farm named {{farm.name}} is of size {{farm.sizeInStremmata}} stremmata!!
        </li>
    </ul>

</div>

<ng-template #loading>
    <p>Loading farm data....</p>
</ng-template>

        <!-- EXAMPLE currency pipe -->
<!-- <div>
    <p>A: {{ a | currency }}</p>
    <p>A: {{ a | currency: 'CAD' : 'code' }}</p>
    <p>B: {{ b | currency: 'CAD' : 'symbol' : '4.2-2' }}</p>
    <p>B: {{ b | currency: 'CAD' : 'symbol-narrow' : '4.2-2' }}</p>
    <p>B: {{ b | currency: 'CAD' : 'symbol' : '4.2-2' : 'fr' }}</p>
    <p>B: {{ b | currency: 'CLP' }}</p>
</div>

        <-- EXAMPLE i18nPlural -->
<!-- <h3>Inbox</h3>
<p>{{messages.length}} {{messages.length | i18nPlural: messageMapping}} -->

        <!-- EXAMPLE i18nSelect -->
<!-- <div>{{gender| i18nSelect:inviteMap}} </div> -->


        <!-- EXAMPLE KeyValuePipe -->
<!-- <div *ngFor="let property of farm | keyvalue">
    {{property.key}}:{{property.value}}
</div> -->

<button>practice-outlet</button>
<router-outlet name="practice-outlet"></router-outlet>