.app-left-options-list{
    margin-top: 0 !important;
    padding: 0;
}

.app-left-options-list li:first-child {
    margin-top: 0;
    padding-top: 3rem;
}

.app-left-options-list li{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    list-style: none;
}